.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.back {
	cursor: pointer;
}

.players, .buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.players *, .buttons * {
	margin: 0 10px 0 10px;
}